/************************************************************************
 * Manage the node view answer.
 ************************************************************************/


/***********************************************************************
 * Change the answer list.
 ***********************************************************************/
.answers-list {
  .node-answers-wrapper {
    border-top: 1px solid #e3e3e3;
  }
}


/************************************************************************
 * Change the display of the questin / answer itself.
 ***********************************************************************/
.answer-widgets {
  display: block;
  float: left;
}

.answer-body {
  display: block;
  width: auto;
  margin-left: 50px;

  > .content {
    min-height: 100px;
    //min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

    code {
      white-space: normal;
    }
  }
}

/* Best Answers selected */
.answers-best-answer {
  .answer-body > .content {
    background-color: #dff0d8;
  }
}

/*Tags*/
.gm-qa-tags {
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    float: left;
}
/************************************************************************
 * Display comments.
 ***********************************************************************/
.node-answers-wrapper {
  .comment-wrapper {
    background: transparent;
    padding: 0;
  }
}

.gm-comment {
  margin-top: 5px;
  .content {
    background-color: #f5f5f5;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .comment-form {
    legend.panel-heading {
      background: transparent;
      text-align: right;
    }

    fieldset.panel-default{
      border: none;
      box-shadow: none;
    }
  }

  .panel-default>.panel-heading {
    border: none;
    box-shadow: none;
  }
}
