/************************************************************************
 * Manage the view of questions.
 ************************************************************************/
.view-display-id-page_qa_group_mind h3 {
    margin: 0 0 5px 0;
    font-size: 22px;
    padding: 5px 10px 5px 15px;
}

.view-display-id-page_qa_group_mind h3 .answers-new{
    float: right !important;
    color: red;
}

.gm-qa-kpi {
    padding: 0;
    height: 75px;
}

.gm-qa-kpi div {
    @include vertical-align();
}


.gm-qa-tags {
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    float: left;
}

.gm-qa-tags, .qa-author {
    padding-left: 15px;
    padding-right: 15px;
}

/**********************************************************************
 * The sidebar.
 *********************************************************************/
#block-group-mind-q-a-create-a-question a,
#block-group-mind-idea-create-an-idea a,
#block-group-mind-project-create-a-project a
{
    width: 100%;
}
