html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fonts */
body {
  font-family: sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: initial;
    word-wrap: break-word;
}

/* Admin menu */
body.admin-menu {
  margin-top: 0 !important;
}

/* Globals elements */
.page-header {
  margin: 0 0 20px 0;
}

/* Navbar */
.navbar {
  text-transform: initial;
}

#navbar {
  background-color: $header-bg-color;
  border: {
    bottom: 1px solid $header-border-color;
  }
  color: $header-text-color;
  margin: 0 0 20px 0;

  .navbar.navbar-default {
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    border: none;
    @include box-shadow(none);

    .logo {
      height: ($header-height - 1px);
      line-height: ($header-height - 1px);
      padding: 0;
      margin: 0 2rem 0 0;
    }
  }

  ul.navbar-nav > li {
    & > a, & > span {
      display: block;
      cursor: pointer;
      height: ($header-height - 1px);
      line-height: ($header-height - 1px);
      padding: 0 2rem;
      font-size: 1.5rem;
      text-transform: capitalize;
      color: $menu-link-text-color;
    }

    & > a:hover, & > span:hover, &.open {
      background-color: $menu-link-over-bg;
      color: $menu-link-over-text-color;
    }

    &.active {
      & > a, & > span {
        background-color: $menu-link-active-bg;
        color: $menu-link-active-text-color;
      }
    }
    ul.dropdown-menu {
      @include border-radius(0px);
    }
  }
}

/* Avatar */
.avatar {
  position: relative;
  display: inline-block;
  background-image: url(../../images/avatar-anonymous.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 0;
    background: rgba(51, 114, 159, 0.6);
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
  }

  &:hover span {
    background: #33729f;
  }
}


/* User menu */
#menu-user {
  position: relative;
  text-transform: initial;

  #user_menu-opener {
    .avatar {
      margin: 12px 0 0 0;
      width: ($header-height - 24px);
      height: ($header-height - 24px);
    }
    .badge {
      position: absolute;
      bottom: 4px;
      right: 8px;
      padding: 3px 5px;
      background-color: #e31837;
      color: #fff;
      text-shadow: none;
      @include transition(background-color 0.2s ease-in-out);
    }
  }

  .dropdown-menu > li > a.btn.btn-default {
    color: white;
  }

  &:hover #user_menu-opener {
    .user_infos {
      b, span {
        color: black;
      }
    }
  }

  #user_menu-content {
    padding: 0;
    border-radius: 0;
    width: 400px;

    #user_menu-content_top {
      padding: 20px;
    }

    .avatar {
      position: relative;
      margin: 0 15px 0 0;
      width: 96px;
      height: 96px;
    }

    .header {
      background: #f7f7f7;
      text-align: center;
      border: {
        top: 1px solid #ddd;
        bottom: 1px solid #ddd;
      }
      margin: 0 0 10px 0;
      padding: 5px;
    }

    a.classic {
      display: inline;
      padding: 0;
      margin: 0;
      background: none;
      font-size: 12px;
      color: #33729f;

      &:hover {
        text-decoration: underline;
      }
    }

    #user_menu-content_bottom {
      border-top: 1px solid #ddd;
      padding: 10px;
      background: #f7f7f7;

      a { clear: none; }
    }
  }
}

/* User menu mobile */
#user-menu-mobile {
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  ul.nav {
    margin: 0;
  }
  #user_menu-opener {
    padding: 0;
    .avatar {
      margin: 0;
    }
  }
}

/* Notifications */
#visual_notifications_list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      clear: both;
      list-style: none;
      vertical-align: top;
      margin: 0;
      padding: 10px;
      font-size: 14px;
      word-break: break-word;
      overflow: hidden;
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border-bottom: none;
      }

      .user-picture {
        float: left;
        margin: 0 15px 0 0;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  /* A link is displayed when more than 5 notification */
  .more-link {
    padding: 5px 20px 0 20px;
    text-align: right;
  }
}


/* Modal: notification */
body.modal-open { overflow-y: auto; }

.notification-modal.modal {
  position: absolute;
  .modal-dialog {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 340px;
    margin: 0;
    .modal-content {
      overflow: hidden;

      .avatar {
        margin: 0 15px 0 0;
      }
    }
  }
}

/* Custom notification */
.notification-box {
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  max-height: 480px;
  width: 340px;
  @include box-shadow(0 0 8px #aaa);
  @include transition(opacity 0.5s ease-in-out);

  &.off { opacity: 0; }

  .notification-header {
    padding: 12px 16px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e9e9e9;
    color: #333;
    font-size: 1.1em;

    .notification-close {
      margin: 2px 0 0 0;
      float: right;
      text-decoration: none;
      color: #999;

      &:hover {
        text-decoration: none;
        color: #33729f;
      }
    }
  }

  .notification-content {
    height: 100%;
    max-height: 400px;
    padding: 0 5px 0 0;
    margin: 16px;
    overflow-y: auto;

    .notification-item {
      overflow: hidden;
      padding: 0 0 8px 0;
      margin: 0 0 8px 0;
      border-bottom: 1px solid #e9e9e9;

      &:last-of-type {
        border-bottom: none;
        padding: 0;
        margin: 0;
      }

      .avatar {
        float: left;
        margin: 0 15px 0 0;
      }
    }
  }
}


/* Top links */
#top-links {
  background-color: $top-links-bg-color;
  color: $top-links-text-color;

  a {
    margin: 0 5px;
    padding: 0;
    background: none;
    color: $top-links-text-color !important;
    text-decoration: none;

    &:hover {
      background: none;
      text-decoration: underline;;
    }
  }

  ul {
    margin: 5px;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

/* Main */
#page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}
body.admin-menu {
  #page-wrapper {
    padding-top: $admin-menu-height !important;

    &:after {
      height: $footer-height + $admin-menu-height;
    }
  }
}

/* Aside */
aside {
  section {
    word-wrap: break-word;
    overflow-x: hidden;

    // Reset bootstrap dropdown menu style
    .dropdown-menu {
        position: relative;
        border: none;
        border-radius: 0;
        float: none;
        background: none;
        @include box-shadow(none);

        li {
            font-size: 14px;
            a {
                white-space: normal;
                color: #4582ec;
                &:hover {
                    background: none;
                    color: #134fb8;
                }
            }
        }
    }

    h2 {
      font-size: 28px;
    }
  }
}

/* Footer */
#footer {
  height: $footer-height;
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 30px 0;
  margin: 20px 0 0 0;
  text-align: center;
}

/* Teaser list */
.region-content > section > .view > .view-content > .views-row {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.region-content > section > .view > .view-content > .views-row-even {
  background-color: white;
}

/* Voting */
.rate-widget-number_up_down,
.rate-widget-number_up_down {
  width: 38px;
  text-align: center;
  margin-top: 8px;
}
.rate-number-up-down-rating,
.rate-number-up-down-rating {
  color: #aaa;
  font-size: 1.4em;
  line-height: 1.2em;
}
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-down,
.rate-number-up-down-btn-down {
  display: block;
  width: 38px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-up {
  background: url('../../images/arrowup.png') 0 22px;
}
.rate-number-up-down-btn-down,
.rate-number-up-down-btn-down {
  background: url('../../images/arrowdown.png') 0 22px;
}
a.rate-number-up-down-btn-up:hover,
a.rate-number-up-down-btn-up:hover,
a.rate-number-up-down-btn-down:hover,
a.rate-number-up-down-btn-down:hover,
.rate-voted,
.rate-voted {
  background-position: 0 63px;
  cursor: pointer;
}
.rate-number-up-down-rating-up,
.rate-number-up-down-rating-up,
.rate-number-up-down-rating-down,
.rate-number-up-down-rating-down,
.rate-info,
.rate-info {
  display: none;
}

/* Tags */
.gm-qa-tags .field-content, .field-name-field-question-tags .field-item {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  background-color: #5bc0de;

  margin-right: 5px;

  a {
    color: #fff;
    &:hover{
      text-decoration: none;
    }
  }
}

/* Max width for images and iframes */
section {
  img, iframe {
    max-width: 100%;
    height: auto;
  }
}

/* Word wrap */
.group-left, .group-right // Display suite module
{
    word-wrap: break-word;
}
