/********************************************************************
 * Links action in buttons
 *******************************************************************/
.node-project ul {
  //@extend .col-xs-12;
  padding-left: 0;
}

.node-project ul.links li{
  list-style: none;
  margin-right: 5px;
  float: left !important;
}

.node-project ul.links li a{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
