/**************************************************************************
 * Variables.
 *************************************************************************/

// admin
$admin-menu-height: 29px;

// Top links
$top-links-bg-color: #444;
$top-links-text-color: white;

// Header
$header-height: 80px;
$header-bg-color: #f8f8f8;
$header-border-color: #ddd;
$header-text-color: #000;

// menu-user
$menu-link-text-color: #333;
$menu-link-over-bg: #eee;
$menu-link-over-text-color: #333;
$menu-link-active-bg: #39b3d7;
$menu-link-active-text-color: #fff;

// Footer
$footer-height: 140px;
$footer-bg-color: #333;
$footer-text-color: #fff;


/*************************************************************************
 * Import.
 ************************************************************************/
@import 'compass';
@import 'mixin';
@import 'components';
@import 'answers';
@import 'answers-view';
@import 'project';
