/**************************************************************************
 * Variables.
 *************************************************************************/
/*************************************************************************
 * Import.
 ************************************************************************/
/**************************************************
 * Mixin functions.
 *************************************************/
/* Vertical align */
/* line 1, ../sass/_components.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fonts */
/* line 8, ../sass/_components.scss */
body {
  font-family: sans-serif;
  font-size: 14px;
}

/* line 13, ../sass/_components.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: initial;
  word-wrap: break-word;
}

/* Admin menu */
/* line 19, ../sass/_components.scss */
body.admin-menu {
  margin-top: 0 !important;
}

/* Globals elements */
/* line 24, ../sass/_components.scss */
.page-header {
  margin: 0 0 20px 0;
}

/* Navbar */
/* line 29, ../sass/_components.scss */
.navbar {
  text-transform: initial;
}

/* line 33, ../sass/_components.scss */
#navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  color: #000;
  margin: 0 0 20px 0;
}
/* line 41, ../sass/_components.scss */
#navbar .navbar.navbar-default {
  margin-top: 0;
  margin-bottom: 0;
  background: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 48, ../sass/_components.scss */
#navbar .navbar.navbar-default .logo {
  height: 79px;
  line-height: 79px;
  padding: 0;
  margin: 0 2rem 0 0;
}
/* line 57, ../sass/_components.scss */
#navbar ul.navbar-nav > li > a, #navbar ul.navbar-nav > li > span {
  display: block;
  cursor: pointer;
  height: 79px;
  line-height: 79px;
  padding: 0 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #333;
}
/* line 68, ../sass/_components.scss */
#navbar ul.navbar-nav > li > a:hover, #navbar ul.navbar-nav > li > span:hover, #navbar ul.navbar-nav > li.open {
  background-color: #eee;
  color: #333;
}
/* line 74, ../sass/_components.scss */
#navbar ul.navbar-nav > li.active > a, #navbar ul.navbar-nav > li.active > span {
  background-color: #39b3d7;
  color: #fff;
}
/* line 79, ../sass/_components.scss */
#navbar ul.navbar-nav > li ul.dropdown-menu {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Avatar */
/* line 86, ../sass/_components.scss */
.avatar {
  position: relative;
  display: inline-block;
  background-image: url(../../images/avatar-anonymous.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* line 93, ../sass/_components.scss */
.avatar span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 0;
  background: rgba(51, 114, 159, 0.6);
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
}
/* line 107, ../sass/_components.scss */
.avatar:hover span {
  background: #33729f;
}

/* User menu */
/* line 114, ../sass/_components.scss */
#menu-user {
  position: relative;
  text-transform: initial;
}
/* line 119, ../sass/_components.scss */
#menu-user #user_menu-opener .avatar {
  margin: 12px 0 0 0;
  width: 56px;
  height: 56px;
}
/* line 124, ../sass/_components.scss */
#menu-user #user_menu-opener .badge {
  position: absolute;
  bottom: 4px;
  right: 8px;
  padding: 3px 5px;
  background-color: #e31837;
  color: #fff;
  text-shadow: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 136, ../sass/_components.scss */
#menu-user .dropdown-menu > li > a.btn.btn-default {
  color: white;
}
/* line 142, ../sass/_components.scss */
#menu-user:hover #user_menu-opener .user_infos b, #menu-user:hover #user_menu-opener .user_infos span {
  color: black;
}
/* line 148, ../sass/_components.scss */
#menu-user #user_menu-content {
  padding: 0;
  border-radius: 0;
  width: 400px;
}
/* line 153, ../sass/_components.scss */
#menu-user #user_menu-content #user_menu-content_top {
  padding: 20px;
}
/* line 157, ../sass/_components.scss */
#menu-user #user_menu-content .avatar {
  position: relative;
  margin: 0 15px 0 0;
  width: 96px;
  height: 96px;
}
/* line 164, ../sass/_components.scss */
#menu-user #user_menu-content .header {
  background: #f7f7f7;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px 0;
  padding: 5px;
}
/* line 175, ../sass/_components.scss */
#menu-user #user_menu-content a.classic {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 12px;
  color: #33729f;
}
/* line 183, ../sass/_components.scss */
#menu-user #user_menu-content a.classic:hover {
  text-decoration: underline;
}
/* line 188, ../sass/_components.scss */
#menu-user #user_menu-content #user_menu-content_bottom {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #f7f7f7;
}
/* line 193, ../sass/_components.scss */
#menu-user #user_menu-content #user_menu-content_bottom a {
  clear: none;
}

/* User menu mobile */
/* line 199, ../sass/_components.scss */
#user-menu-mobile {
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
}
/* line 203, ../sass/_components.scss */
#user-menu-mobile ul.nav {
  margin: 0;
}
/* line 206, ../sass/_components.scss */
#user-menu-mobile #user_menu-opener {
  padding: 0;
}
/* line 208, ../sass/_components.scss */
#user-menu-mobile #user_menu-opener .avatar {
  margin: 0;
}

/* Notifications */
/* line 215, ../sass/_components.scss */
#visual_notifications_list {
  /* A link is displayed when more than 5 notification */
}
/* line 216, ../sass/_components.scss */
#visual_notifications_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 221, ../sass/_components.scss */
#visual_notifications_list ul li {
  clear: both;
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  word-break: break-word;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
/* line 232, ../sass/_components.scss */
#visual_notifications_list ul li:last-of-type {
  border-bottom: none;
}
/* line 236, ../sass/_components.scss */
#visual_notifications_list ul li .user-picture {
  float: left;
  margin: 0 15px 0 0;
}
/* line 239, ../sass/_components.scss */
#visual_notifications_list ul li .user-picture img {
  width: 48px;
  height: 48px;
}
/* line 248, ../sass/_components.scss */
#visual_notifications_list .more-link {
  padding: 5px 20px 0 20px;
  text-align: right;
}

/* Modal: notification */
/* line 256, ../sass/_components.scss */
body.modal-open {
  overflow-y: auto;
}

/* line 258, ../sass/_components.scss */
.notification-modal.modal {
  position: absolute;
}
/* line 260, ../sass/_components.scss */
.notification-modal.modal .modal-dialog {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 340px;
  margin: 0;
}
/* line 266, ../sass/_components.scss */
.notification-modal.modal .modal-dialog .modal-content {
  overflow: hidden;
}
/* line 269, ../sass/_components.scss */
.notification-modal.modal .modal-dialog .modal-content .avatar {
  margin: 0 15px 0 0;
}

/* Custom notification */
/* line 277, ../sass/_components.scss */
.notification-box {
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  max-height: 480px;
  width: 340px;
  -moz-box-shadow: 0 0 8px #aaa;
  -webkit-box-shadow: 0 0 8px #aaa;
  box-shadow: 0 0 8px #aaa;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
/* line 289, ../sass/_components.scss */
.notification-box.off {
  opacity: 0;
}
/* line 291, ../sass/_components.scss */
.notification-box .notification-header {
  padding: 12px 16px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e9e9e9;
  color: #333;
  font-size: 1.1em;
}
/* line 298, ../sass/_components.scss */
.notification-box .notification-header .notification-close {
  margin: 2px 0 0 0;
  float: right;
  text-decoration: none;
  color: #999;
}
/* line 304, ../sass/_components.scss */
.notification-box .notification-header .notification-close:hover {
  text-decoration: none;
  color: #33729f;
}
/* line 311, ../sass/_components.scss */
.notification-box .notification-content {
  height: 100%;
  max-height: 400px;
  padding: 0 5px 0 0;
  margin: 16px;
  overflow-y: auto;
}
/* line 318, ../sass/_components.scss */
.notification-box .notification-content .notification-item {
  overflow: hidden;
  padding: 0 0 8px 0;
  margin: 0 0 8px 0;
  border-bottom: 1px solid #e9e9e9;
}
/* line 324, ../sass/_components.scss */
.notification-box .notification-content .notification-item:last-of-type {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
/* line 330, ../sass/_components.scss */
.notification-box .notification-content .notification-item .avatar {
  float: left;
  margin: 0 15px 0 0;
}

/* Top links */
/* line 340, ../sass/_components.scss */
#top-links {
  background-color: #444;
  color: white;
}
/* line 344, ../sass/_components.scss */
#top-links a {
  margin: 0 5px;
  padding: 0;
  background: none;
  color: white !important;
  text-decoration: none;
}
/* line 351, ../sass/_components.scss */
#top-links a:hover {
  background: none;
  text-decoration: underline;
}
/* line 357, ../sass/_components.scss */
#top-links ul {
  margin: 5px;
  padding: 0;
}
/* line 360, ../sass/_components.scss */
#top-links ul li {
  display: inline-block;
}

/* Main */
/* line 367, ../sass/_components.scss */
#page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -140px;
}
/* line 371, ../sass/_components.scss */
#page-wrapper:after {
  content: "";
  display: block;
  height: 140px;
}

/* line 378, ../sass/_components.scss */
body.admin-menu #page-wrapper {
  padding-top: 29px !important;
}
/* line 381, ../sass/_components.scss */
body.admin-menu #page-wrapper:after {
  height: 169px;
}

/* Aside */
/* line 389, ../sass/_components.scss */
aside section {
  word-wrap: break-word;
  overflow-x: hidden;
}
/* line 394, ../sass/_components.scss */
aside section .dropdown-menu {
  position: relative;
  border: none;
  border-radius: 0;
  float: none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 402, ../sass/_components.scss */
aside section .dropdown-menu li {
  font-size: 14px;
}
/* line 404, ../sass/_components.scss */
aside section .dropdown-menu li a {
  white-space: normal;
  color: #4582ec;
}
/* line 407, ../sass/_components.scss */
aside section .dropdown-menu li a:hover {
  background: none;
  color: #134fb8;
}
/* line 415, ../sass/_components.scss */
aside section h2 {
  font-size: 28px;
}

/* Footer */
/* line 422, ../sass/_components.scss */
#footer {
  height: 140px;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  margin: 20px 0 0 0;
  text-align: center;
}

/* Teaser list */
/* line 432, ../sass/_components.scss */
.region-content > section > .view > .view-content > .views-row {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 443, ../sass/_components.scss */
.region-content > section > .view > .view-content > .views-row-even {
  background-color: white;
}

/* Voting */
/* line 448, ../sass/_components.scss */
.rate-widget-number_up_down,
.rate-widget-number_up_down {
  width: 38px;
  text-align: center;
  margin-top: 8px;
}

/* line 454, ../sass/_components.scss */
.rate-number-up-down-rating,
.rate-number-up-down-rating {
  color: #aaa;
  font-size: 1.4em;
  line-height: 1.2em;
}

/* line 460, ../sass/_components.scss */
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-down,
.rate-number-up-down-btn-down {
  display: block;
  width: 38px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 471, ../sass/_components.scss */
.rate-number-up-down-btn-up,
.rate-number-up-down-btn-up {
  background: url("../../images/arrowup.png") 0 22px;
}

/* line 475, ../sass/_components.scss */
.rate-number-up-down-btn-down,
.rate-number-up-down-btn-down {
  background: url("../../images/arrowdown.png") 0 22px;
}

/* line 479, ../sass/_components.scss */
a.rate-number-up-down-btn-up:hover,
a.rate-number-up-down-btn-up:hover,
a.rate-number-up-down-btn-down:hover,
a.rate-number-up-down-btn-down:hover,
.rate-voted,
.rate-voted {
  background-position: 0 63px;
  cursor: pointer;
}

/* line 488, ../sass/_components.scss */
.rate-number-up-down-rating-up,
.rate-number-up-down-rating-up,
.rate-number-up-down-rating-down,
.rate-number-up-down-rating-down,
.rate-info,
.rate-info {
  display: none;
}

/* Tags */
/* line 498, ../sass/_components.scss */
.gm-qa-tags .field-content, .field-name-field-question-tags .field-item {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5bc0de;
  margin-right: 5px;
}
/* line 514, ../sass/_components.scss */
.gm-qa-tags .field-content a, .field-name-field-question-tags .field-item a {
  color: #fff;
}
/* line 516, ../sass/_components.scss */
.gm-qa-tags .field-content a:hover, .field-name-field-question-tags .field-item a:hover {
  text-decoration: none;
}

/* Max width for images and iframes */
/* line 524, ../sass/_components.scss */
section img, section iframe {
  max-width: 100%;
  height: auto;
}

/* Word wrap */
/* line 531, ../sass/_components.scss */
.group-left, .group-right {
  word-wrap: break-word;
}

/************************************************************************
 * Manage the node view answer.
 ************************************************************************/
/***********************************************************************
 * Change the answer list.
 ***********************************************************************/
/* line 10, ../sass/_answers.scss */
.answers-list .node-answers-wrapper {
  border-top: 1px solid #e3e3e3;
}

/************************************************************************
 * Change the display of the questin / answer itself.
 ***********************************************************************/
/* line 19, ../sass/_answers.scss */
.answer-widgets {
  display: block;
  float: left;
}

/* line 24, ../sass/_answers.scss */
.answer-body {
  display: block;
  width: auto;
  margin-left: 50px;
}
/* line 29, ../sass/_answers.scss */
.answer-body > .content {
  min-height: 100px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 40, ../sass/_answers.scss */
.answer-body > .content code {
  white-space: normal;
}

/* Best Answers selected */
/* line 48, ../sass/_answers.scss */
.answers-best-answer .answer-body > .content {
  background-color: #dff0d8;
}

/*Tags*/
/* line 54, ../sass/_answers.scss */
.gm-qa-tags {
  margin-top: 5px;
  margin-right: 5px;
  display: block;
  float: left;
}

/************************************************************************
 * Display comments.
 ***********************************************************************/
/* line 64, ../sass/_answers.scss */
.node-answers-wrapper .comment-wrapper {
  background: transparent;
  padding: 0;
}

/* line 70, ../sass/_answers.scss */
.gm-comment {
  margin-top: 5px;
}
/* line 72, ../sass/_answers.scss */
.gm-comment .content {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 80, ../sass/_answers.scss */
.gm-comment .comment-form legend.panel-heading {
  background: transparent;
  text-align: right;
}
/* line 85, ../sass/_answers.scss */
.gm-comment .comment-form fieldset.panel-default {
  border: none;
  box-shadow: none;
}
/* line 91, ../sass/_answers.scss */
.gm-comment .panel-default > .panel-heading {
  border: none;
  box-shadow: none;
}

/************************************************************************
 * Manage the view of questions.
 ************************************************************************/
/* line 4, ../sass/_answers-view.scss */
.view-display-id-page_qa_group_mind h3 {
  margin: 0 0 5px 0;
  font-size: 22px;
  padding: 5px 10px 5px 15px;
}

/* line 10, ../sass/_answers-view.scss */
.view-display-id-page_qa_group_mind h3 .answers-new {
  float: right !important;
  color: red;
}

/* line 15, ../sass/_answers-view.scss */
.gm-qa-kpi {
  padding: 0;
  height: 75px;
}

/* line 20, ../sass/_answers-view.scss */
.gm-qa-kpi div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 25, ../sass/_answers-view.scss */
.gm-qa-tags {
  margin-top: 5px;
  margin-right: 5px;
  display: block;
  float: left;
}

/* line 32, ../sass/_answers-view.scss */
.gm-qa-tags, .qa-author {
  padding-left: 15px;
  padding-right: 15px;
}

/**********************************************************************
 * The sidebar.
 *********************************************************************/
/* line 40, ../sass/_answers-view.scss */
#block-group-mind-q-a-create-a-question a,
#block-group-mind-idea-create-an-idea a,
#block-group-mind-project-create-a-project a {
  width: 100%;
}

/********************************************************************
 * Links action in buttons
 *******************************************************************/
/* line 4, ../sass/_project.scss */
.node-project ul {
  padding-left: 0;
}

/* line 9, ../sass/_project.scss */
.node-project ul.links li {
  list-style: none;
  margin-right: 5px;
  float: left !important;
}

/* line 15, ../sass/_project.scss */
.node-project ul.links li a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
